<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{{ asset('static/img/favicon.ico') }}" type="image/x-icon">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="register-page">
        {% block body %}{% endblock %}
        {% block js %}{% endblock %}
    </body>
</html>
